@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

.bg-feat {
  background: url("/bg-start.png");
  width: 100%;
  height: 200px;
  background-color: rgba(71, 71, 214, 0.15);
  border-radius: 30px;
}
.bg-feat-2 {
  background: url("/mob-one.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 327px;
  background-color: #4747d626;
  border-radius: 30px;
}
.request-bg {
  background: url("../assets/png/background-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;

  background-color: #d9d9d9;
  border-radius: 30px;
}
.grad-bg-blog {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(208, 208, 254, 0.615886) 51.22%,
    rgba(236, 236, 255, 0.25) 100%
  );
}
.blog-hero-bg {
  background: url("../assets/png/blog-hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.project-hero-bg {
  background: url("../assets/png/project-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}


.flow-hide {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x-1 {
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.skewy {
  transform: skewX(-30deg);
}

.flow-hide-x {
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.flow-hide-x::-webkit-scrollbar {
  width: 0;
  height: 0;
  cursor: pointer;
}
.flow-hide::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.hide-scroll {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
}

.nav-bg {
  background: linear-gradient(262.06deg, #4747d6 34.75%, #000077 120.89%);
}
.white-btn {
  background: #ffffff;
  box-shadow: 15px 15px 50px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.blue-btn {
  background: #4747d6;
  box-shadow: 15px 15px 50px rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.hero-bg {
  background: linear-gradient(260.95deg, #4747d6 17.96%, #000077 104.53%);
}
.feature-bg {
  /* background: rgba(71, 71, 214, 0.15);
filter: blur(25px); */
  border-radius: 30px;
  box-shadow: 15px 15px 50px rgba(255, 255, 255, 0.25);
}
.bg {
  background: rgba(71, 71, 214, 0.15);
}

.bg-fea {
  background: url("../assets/png/proper.png");
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.paid-bg {
  background: rgba(51, 51, 51, 0.03);
}

.footer {
  background: url("../assets/png/we-collect.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

.z-high {
  z-index: 999 !important;
}
.z-modal {
  z-index: 1111 !important;
}
.box-drop {
  filter: drop-shadow(15px 0px 50px rgba(71, 71, 214, 0.15));
}

select {
  /* Reset the default styles */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Add your custom styles, such as background, border, etc. */
  /* For example: */
  padding: 5px;

  /* Add a background image for a custom arrow icon */
  background: url("/arrow-down.png") no-repeat right center;
  background-size: 24px;
  padding-right: 2rem !important ; /* Adjust the size of the arrow icon as needed */
}
.z-super {
  z-index: 5555 !important;
}
.z-low {
  z-index: 1 !important;
}
.hero-item-shadow{
  /* box-shadow: 0px 11px 24px 0px #1797EC1A;

box-shadow: 0px 43px 43px 0px #1797EC17;

box-shadow: 0px 96px 58px 0px #1797EC0D;

box-shadow: 0px 171px 68px 0px #1797EC03; */

box-shadow: 0px 267px 75px 0px #1797EC00;

}
.container {
  width: 100%;
  height: 70vh;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animation-container {
  position: relative;
  width: 100%;

  overflow: hidden;
}

.component1,
.component2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: end;
}

.slide-in {
  animation: slideIn 1s forwards;
}

.slide-out {
  animation: slideOut 1s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.box {
  width: auto;
  margin: auto;
  height: auto;
  grid-template-columns: 3 1fr;
  border-radius: 20px;
  padding: 20px 40px 20px 40px;
  border: 5px solid #d8edff;
  background: linear-gradient(
    94deg,
    #fff4fd 1.97%,
    #eaf8ff 49.6%,
    #f9ffec 98.28%
  );
  box-shadow: 0px 3px 6px 0px rgba(214, 237, 255, 0.1),
    0px 10px 10px 0px rgba(214, 237, 255, 0.09),
    0px 23px 14px 0px rgba(214, 237, 255, 0.05),
    0px 42px 17px 0px rgba(214, 237, 255, 0.01),
    0px 65px 18px 0px rgba(214, 237, 255, 0);
}
.shadow-one{
  
  box-shadow: 0px 22px 48px 0px #0a90e91a;
}
.shadow-two{

  box-shadow: 0px 87px 87px 0px #189DF71A;
}
.shadow-three{

  box-shadow: 0px 196px 117px 0px #189DF71A;
}
.shadow-four{

  box-shadow: 0px 348px 139px 0px #189DF71A;
}
.nav-layer{



box-shadow: 0px 22px 48px 0px #189DF71A,

 0px 87px 87px 0px #189DF717,

 0px 196px 117px 0px #189DF70D,

 0px 348px 139px 0px #189DF703,

 0px 543px 152px 0px #189DF700;


}
.product-shadow{
  box-shadow: 0px 22px 48px 0px #189DF71A

, 0px 87px 87px 0px #189DF717

, 0px 196px 117px 0px #189DF70D

, 0px 348px 139px 0px #189DF703

, 0px 543px 152px 0px #189DF700;

}

.button-shadow{
  box-shadow: 0px 6px 14px 0px #8FD2FF1A,

 0px 25px 25px 0px #8FD2FF17,

 0px 57px 34px 0px #8FD2FF0D,

 0px 101px 40px 0px #8FD2FF03,

 0px 158px 44px 0px #8FD2FF00,

}
.container-border{
  border: 3px solid;

border-image-source: linear-gradient(132.27deg, #E4E4FF -7.78%, #FFFFFF 43.08%, #F9F6FF 76.1%, #CDCDFF 151.64%);


}

.dotscontainer {
  color: #a7b2bb;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dots {
  margin: 0 3px;
  cursor: pointer;
  font-size: 30px;
}

.active {
  color: #00a3ff;
  font-size: 50px;
  border: 2px solid #00a3ff;
  border-radius: 100%;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .box {
    padding: 40px 20px 40px 20px;
    /* background: red; */
  }
  .dots {
    font-size: 20px;
  }

  .active {
    font-size: 30px;
    height: 30px;
    padding-bottom: 7.5px;
    width: 30px;
  }
}

.expanding-div {
  width: 0%;
  height: 30px;
  background-color: #FFE700;
  transition: width 2s;
}

.expanding-div.expanded {
  width: 100%;
}

.boxlee {
    background: #FFFFFF; /* Default background is white */
    transition: 
        background 0.3s ease,
        border 0.3s ease,
        box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.boxlee:hover {
    border: 4px solid #FFFFFF; /* Border appears on hover */
    background: #EDE6FF; /* Background changes on hover */
    box-shadow: 
        4px 4px 4px 4px #99999940 inset, /* Inner shadow */
        0px 16px 34px 0px #009DFF1A,     /* Outer shadow layers */
        0px 63px 63px 0px #009DFF17,
        0px 141px 84px 0px #009DFF0D,
        0px 250px 100px 0px #009DFF03,
        0px 391px 109px 0px #009DFF00;
}

